@media only screen and (max-width: 1400px) {
    .btn-red {
        width: 43%;
    }

    .btn-red:hover {
        background: linear-gradient(to left, #e92428, #b02022);
        color: #fff;
        width: 48%;
    }

    .lineShape {
        background-size: 60%;
    }

}

@media only screen and (max-width: 1200px) {
    .call-us {
        font-size: 10px;
    }

    .line {
        width: 20%;
    }

    .phone-number {
        font-size: 14px;
    }

    .btn-red {
        width: 50%;
    }

    .btn-red:hover {
        width: 55%;
    }

    .shape1 {
        margin-top: 5%;
    }

    .cart-img {
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .res {
        display: block;
    }

    .btn-1 {
        display: none !important;
    }

    .btn-2 {
        display: block !important;
    }

    .menu {
        width: 55%;
    }

    .menu-btn {
        padding: 0;
    }

    .hero {
        background: transparent;
        text-align: center;
    }

    .btn-red {
        width: 25%;
        padding: 2% 5%;
        padding-right: 0;
    }


    .btn-red:hover {
        width: 27%;
    }

    .hero {
        padding-top: 2%;
    }

    .shape1 {
        margin-top: -10%;
    }
}

@media only screen and (max-width: 768px) {

    .menu {
        width: 48%;
    }

    .btn-2 {
        width: 40px;
        height: 40px;
    }

    .btn-2 img {
        width: 90%;
    }

    .logo img {
        width: 50%;
    }

    .btn-red {
        width: 32%;
    }


    .btn-red:hover {
        width: 37%;
    }

    .lineShape {
        background: url(../images/line-shape2.png) no-repeat;
        background-position-x: 10%;
        background-position-y: center;
    }
    .card-box {
        margin: 2% 0;
    }
}

@media only screen and (max-width: 468px) {
    .btn-red {
        width: 38%;
    }


    .btn-red:hover {
        width: 42%;
    }
}

@media only screen and (max-width: 430px) {
    .logo img {
        width: 70%;
    }

    .menu {
        width: 45%;
    }

    .btn-2 {
        width: 35px;
        height: 35px;
        padding: 2%;
        padding-top: 1% !important;
    }

    .btn-2 img {
        width: 100%;
    }
        .lineShape {
            background-position-x: 15%;
        }
    
        .card-box {
            margin: 2% 0;
        }
}

@media only screen and (max-width: 392px) {
    .btn-red {
        width: 42%;
    }

    .btn-red:hover {
        width: 45%;
    }
}

@media only screen and (max-width: 350px) {
    .btn-red {
        width: 48%;
    }

    .btn-red:hover {
        width: 50%;
    }
}