@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background: url(../images/heroBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
}

.logo {
    width: 30%;
}

.logo img {
    width: 40%;
}

.contact-menu {
    width: 70%;
    display: flex;
    justify-content: end;
}

.group-call {
    width: 40%;
    padding: 1% 0.5%;
    height: 70px;
}

section {
    overflow: hidden;
}

.call-us {
    font-size: 13px;
}

.phone-number {
    font-size: 16px;
    position: relative;
}

.line {
    background: #d22126;
    height: 1.5px;
    width: 35%;
    position: absolute;
    right: 10%;
    top: 55%;
}

.call-button img {
    padding: 20% 0;
}

.menu {
    width: 80%;
}

.btn-2 {
    display: none !important;
    height: 45px;
    width: 45px;
}

.btn-2 img {
    width: 80%;
}

.btn-red {
    background: linear-gradient(to right, #e92428, #b02022);
    color: #fff;
    font-weight: 500;
    padding: 3% 7%;
    padding-right: 0;
    transition: all 0.5s;
    width: 40%;
}

.btn-red:hover {
    background: linear-gradient(to left, #e92428, #b02022);
    color: #fff;
    width: 45%;
}

.btn-red .arrow-right {
    background: #ffffff6b;
    display: inline;
    padding: 5% 6%;
    border-radius: 100%;
    margin-left: 5%;
    transition: all 0.5s;
}

.btn-red:hover .arrow-right {
    margin-left: 15%;
}

.hero {
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    object-fit: cover;
    padding-top: 15%;
}

.res {
    display: none;
}

.shape1 {
    margin-top: 10%;
}

.lineShape {
    background: url(../images/line-shape.png) no-repeat;
    background-position-y: 20%;
    background-position-x: center;
    background-size: auto;
    padding: 3% 0;
}

.cart-img {
    height: 130px;
    width: 130px;
}

.maintenance {
    background-image: url(../images/red-shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
}

.bottom-red {
    margin-top: -8%;
}

.shape2 {
    position: absolute;
    left: -5%;
    bottom: 13%;
}

.shape3 {
    position: absolute;
    right: -8%;
    top: 8%;
}

.redish {
    color: #eba7a8;
}

ul.list-mantain {
    list-style: url(../images/list-style.png);
}
.location-btn {
    text-align: start;
    padding-left: 5%;
}
.locat-btn {
    background: linear-gradient(to right, #e92428, #b02022);
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.5s;
    width: 45%;
}
.locat-btn:hover {
    background: linear-gradient(to left, #e92428, #b02022); 
}
.call {
    width: 50px;
    height: 50px;
}
.locat-btn p {
    font-size: 14px;
}
.location-map {
    border: 10px solid #fff !important;
    margin-top: 3%;
    width: 465px;
    height: 465px;
}