body {
    background: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 30%;
}

.logo img {
    width: 40%;
}

.contact-menu {
    width: 70%;
    display: flex;
    justify-content: end;
}

.group-call {
    width: 40%;
    padding: 1% 0.5%;
    height: 70px;
}

.call-us {
    font-size: 13px;
}

.phone-number {
    font-size: 16px;
    position: relative;
}

.line {
    background: #d22126;
    height: 1.5px;
    width: 35%;
    position: absolute;
    right: 10%;
    top: 55%;
}

.call-button img {
    padding: 20% 0;
}

.menu {
    width: 80%;
}

.btn-2 {
    display: none !important;
    height: 45px;
    width: 45px;
}
.btn-2 img {
    width: 80%;
}